<div class="reader-bd">
    <ul class="reader-chapter">
        <li class="chapter-content">
            <h1 class="title">第零节 群雄聚会（楔子）</h1>
            <p class="summary">这些人或正或邪，或为朝廷办事，或散落江湖，不少人之间甚至是血仇宿敌。他们肯坐在一起共商大事，着实让法严和尚有些惊讶。</p>
            <p class="summary">火炉的东边坐着几位武林正派领袖，既有龙虎山掌门冯云、丐帮帮主徐八方，也有崆峒派白鹤真人这种绝少在江湖上露面的高人。</p>
            <p class="summary">在火炉的西边，则是几名邪派中闻名天下的枭雄。其中包括阴阳教教主朱天绝、苗疆毒王花千雪，甚至连恶名昭彰的采花大盗苏留花也来了。</p>
            <p class="summary">朝廷之人向来极少参预武林中事务，而这次禁军教头秦方和御前高手孙易竟然都来了，两人齐齐地坐在火炉南边。</p>
        </li>
    </ul>
</div>

<!-- 遮罩 -->
<div class="reader-mask">
    <div class="reader-setting">
        <div class="reader-hd-setting">返回</div>
        <div class="reader-bd-setting"></div>
        <div class="reader-fd-setting">
            <div class="fd-bar">
                <a href="javascript:;">上一章</a>
                <a href="javascript:;">1/100</a>
                <a href="javascript:;">下一章</a>
            </div>
            <div class="action-panel__setting">
                <a href="javascript:;">
                    <div class="font__setting"></div>
                </a>
                <a href="javascript:;">
                    <div class="night__setting"></div>
                </a>
            </div>
        </div>
    </div>
</div>